@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap");
html {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  font: 300 1rem/1.4 "Kanit";
}

body img {
  max-width: 100%;
  height: auto;
}

header {
  color: #fff;
  background: #000;
  width: 100%;
  /* .head-top{
  } */
}

header .head-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  background-color: #000;
}

header .port-name {
  width: 100%;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Oswald";
  letter-spacing: 7px;
}

header .port-name span {
  display: block;
  line-height: 1.2;
  /*  &:nth-child(1){

      }
 */
}

header .port-name span:nth-child(2) {
  color: #E4B484;
  border-bottom: 1px solid #ccc;
  padding: 0 0 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  float: right;
}

header .port-position {
  clear: both;
  width: 100%;
  font-family: "Oswald";
  padding: 20px 0 81px 0;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

header .slogan {
  color: #999;
  font-weight: 100;
}

.headgroup {
  font-family: "Oswald";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column .text {
  color: #000;
  margin: 10px 0 40px 0;
}

.column .text h3 {
  letter-spacing: 2px;
}

.column .text span {
  text-align: right;
  letter-spacing: 1px;
  font-family: "Kanit";
}

.column h3 {
  color: #000;
  text-transform: uppercase;
}

h3 {
  color: #000;
  text-transform: uppercase;
}

.port-detail {
  border-top: 5px solid #000;
  margin: 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.port-detail .column {
  /* &.right{

    } */
}

.port-detail .column.left {
  background: #e9e9e9;
}

.port-detail .column .box-content {
  padding: 10px 30px;
}

@media only screen and (max-width: 768px) {
  header .port-position {
    padding-bottom: 20px;
  }
  header .port-name {
    font-size: 2rem;
  }
  header .slogan {
    font-size: 1rem;
    margin-bottom: 40px;
    color: #fff;
  }
  .headgroup {
    font-family: "Oswald";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .left {
    width: 100%;
  }
}

.portfolio {
  width: 100%;
}

.port1 {
  /*  */
}

.port1 h1,
.port1 h2,
.port1 h3,
.port1 h4,
.port1 h5,
.port1 h6,
.port1 p {
  font-family: "Oxygen", sans-serif;
}

.port1 .container {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
}

.port1 .button-menutop {
  border: 1px solid rgba(170, 163, 163, 0);
  opacity: 0.4;
  filter: alpha(opacity=60);
}

.port1 .text {
  text-transform: uppercase;
}

.port1 .logo-top {
  position: absolute;
  top: 15px;
  left: 6%;
  width: 25%;
}

.port1 .text-slider {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

.port1 .text-c {
  text-align: center;
}

.port1 .text-t {
  margin: 40px 25px;
}

.port1 .text-bt {
  position: absolute;
}

.port1 .slider {
  position: relative;
}

.port1 .slider img {
  min-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.port1 .Lists {
  position: absolute;
  top: 15px;
  left: 150px;
}

.port1 .lists-style {
  text-decoration: none;
  color: #000000;
}

.port1 .download {
  background-color: black;
  color: #ffffff;
  padding: 10px;
}

.port1 .box-subsribe {
  background-color: #000000;
  color: #ffffff;
  padding: 8px 300px 8px 20px;
  text-decoration: none;
  border: solid 1px #ffffff;
  margin: 5px;
}

.port1 .sum {
  margin-top: 14px;
}

.port1 .btn-style {
  background-color: #000;
  color: #ffffff;
  padding: 20px;
  text-decoration: none;
  margin: 20px;
}

.port1 .btn-submit {
  padding: 10px;
}

.port1 .btn-style1 {
  border: solid 2px #000000;
  color: #000000;
  padding: 10px;
  text-decoration: none;
  margin-right: 10px;
  height: 60px;
  margin-top: 20px;
}

.port1 .top {
  color: #ffffff;
}

.port1 .btn {
  background-color: #ffffff;
  color: #000000;
  padding: 8px;
  text-decoration: none;
}

.port1 .menu-bt {
  margin: 20px;
}

.port1 .dow {
  border-radius: 40px;
  background-color: #ffffff;
  padding: 10px;
}

.port1 .dow a {
  text-decoration: none;
  font-size: 10px;
}

.port1 .download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.port1 .text-dow {
  margin: auto 15px;
}

.port1 img {
  max-width: 100%;
  height: auto;
}

.port1 .history {
  margin: 0 20%;
}

.port1 .text-his {
  padding: 20px;
  float: left;
}

.port1 .video {
  position: relative;
}

.port1 .bg-video img {
  min-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.port1 .v-icon {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.port1 .text-port {
  text-transform: uppercase;
  text-align: center;
  border-bottom: #000000;
}

.port1 .texe-p {
  text-align: center;
}

.port1 .name {
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.446);
  position: absolute;
  bottom: 5px;
  width: calc(100% - 30px);
  margin: 15px;
}

.port1 .all {
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
}

.port1 .menu {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
}

.port1 .text-us {
  color: #000000;
}

.port1 .big-group {
  color: #000000;
}

.port1 .subscribe {
  background-color: #000000;
  overflow: hidden;
  padding: 30px;
}

.port1 .con-text {
  color: #000;
}

.port1 .contact {
  text-align: center;
}

.port1 .con-text-container {
  color: #000000;
}

.port1 .icon-com {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.port1 .icon-home {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.port1 .icon-phone {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.port1 .ouote {
  position: relative;
}

.port1 .img-ouote img {
  min-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.port1 .text-ouote {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  color: #ffffff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.port1 .text {
  color: #000000;
}

.port1 .footer {
  background-color: #000000;
  text-align: center;
}

.port1 .heading {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 10px;
}

.port1 .menu-img {
  padding: 20px;
}

.port1 .abot-us {
  text-align: center;
}

.port1 .text-foo {
  color: #ffffff;
}

.port1 .textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.port1 .picture {
  padding: 15px;
}

.port1 .picture img {
  width: 100%;
}

.port1 .box {
  text-align: center;
  margin: 0 20px;
}

.port1 .box-text input,
.port1 .box-text textarea {
  width: calc(100% - 20px);
  border: solid 1px #ccc;
  padding: 10px;
  margin: 0 0 10px 0;
}

.port1 .submit-button {
  color: #000;
}

.port1 .Lists {
  text-decoration: none;
}

.port1 .title-section {
  color: #777777;
}

.port1 .title-section::after {
  content: "";
  display: block;
  width: 170px;
  background-color: black;
  height: 1px;
  margin: 15px auto;
}

.port1 .title::after {
  content: "";
  display: block;
  width: 100px;
  background-color: black;
  height: 1px;
  margin: 15px 0;
}

@media (min-width: 768px) {
  .port1 .text-slider {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 120px 0;
    text-align: center;
  }
  .port1 .Lists {
    position: absolute;
    top: 40px;
    left: 1000px;
  }
  .port1 .lists-style {
    padding: 5px;
  }
  .port1 .big-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  .port1 .group {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  .port1 .video {
    position: relative;
  }
  .port1 .v-icon {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .port1 .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .port1 .history {
    margin: 0 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .port1 .abot-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .port1 .box-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .port1 .box-three,
  .port1 .box-one {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0 10px;
  }
  .port1 .text-dow {
    margin-left: 33%;
    margin-top: 15px;
  }
  .port1 .subscribe {
    background-color: #000000;
    overflow: hidden;
    padding: 30px;
  }
  .port1 .submit-button {
    text-align: right;
    color: #000;
  }
  .port1 .icon-row {
    text-align: center;
  }
  .port1 .menu-bt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 450px;
  }
  .port1 .main {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 640px) {
  .port1 .slider {
    position: relative;
  }
  .port1 .text-slider {
    font-size: 10px;
  }
  .port1 .logo-top {
    top: 0;
    margin: 5px;
  }
  .port1 .text-slider {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 80px 0;
    text-align: center;
  }
  .port1 .text-t {
    margin: 15px;
  }
  .port1 .text-c {
    margin: 15px;
  }
  .port1 .button-menutop {
    margin: 15px;
  }
  .port1 .main {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .port1 .text-dow {
    margin: auto 15px;
  }
}

.port2 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #3d506e;
  background-color: #ffffff;
  margin: 0;
}

.port2 .container {
  color: #ffffff;
}

.port2 img {
  max-width: 100%;
}

.port2 .title-section::after {
  content: '';
  display: block;
  width: 170px;
  background-color: black;
  height: 1px;
  margin: 15px auto;
  text-align: center;
}

.port2 .title-section1::after {
  content: '';
  display: block;
  width: 170px;
  background-color: #ffffff;
  height: 1px;
  margin: 15px auto;
  text-align: center;
}

.port2 .top-menu img {
  width: 50%;
  text-align: center;
}

.port2 .top-menu {
  background-color: #ffffff;
  text-align: center;
}

.port2 .landing {
  position: relative;
  text-align: center;
}

.port2 .landing-img {
  min-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
}

.port2 .landing-text {
  background-color: #0d133e69;
  padding-bottom: 10px;
  width: 100%;
  position: absolute;
  top: 80px;
  text-align: center;
}

.port2 .btn {
  background-color: #ffffff;
  color: #000000;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
}

.port2 .btn1 {
  background-color: #3d506e;
  color: #ffffff;
  padding: 8px;
  text-decoration: none;
  text-align: center;
}

.port2 .btn2 {
  background-color: #3d506e;
  color: #ffffff;
  padding: 10px 50px 10px 5px;
  text-decoration: none;
  margin: 30px;
}

.port2 .tab {
  margin-bottom: 20px;
}

.port2 .fully-text {
  width: 100%;
  text-align: center;
  color: #3d506e;
  padding: 20px;
}

.port2 .fully {
  text-align: center;
}

.port2 .sevices {
  margin-bottom: 20px;
  text-align: center;
}

.port2 .text {
  padding: 0 15px;
  text-align: center;
}

.port2 .corn img {
  min-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
}

.port2 .corn {
  position: relative;
}

.port2 .corn-text {
  position: absolute;
  top: 70px;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

.port2 .row {
  text-align: center;
  color: #3d506e;
}

.port2 .portfolio {
  text-align: center;
}

.port2 .portfolio-lio {
  background-color: #161f32;
  padding: 20px;
  text-align: center;
}

.port2 .portfolio-text {
  margin-top: 20px;
  text-align: center;
}

.port2 .portfolio-buttom {
  margin-bottom: 20px;
  text-align: center;
}

.port2 .bgroom img {
  min-height: 1550px;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
}

.port2 .aboutus {
  position: relative;
  background-image: url(/assets/images/room.jpg);
  padding: 30px 0;
}

.port2 .fully {
  color: #ffffff;
}

.port2 .mystory {
  background-color: #161f32;
  padding: 20px;
  text-align: left;
  color: #ffffff;
}

.port2 .skills-text {
  text-align: center;
  color: #161f32;
}

.port2 .group {
  text-align: left;
  color: #161f32;
}

.port2 .skills {
  text-align: left;
  padding: 15px;
  color: white;
  margin-bottom: 10px;
}

.port2 .html {
  width: 90%;
  background-color: #3d506e;
}

.port2 .css {
  width: 80%;
  background-color: #3d506e;
}

.port2 .js {
  width: 65%;
  background-color: #3d506e;
}

.port2 .php {
  width: 60%;
  background-color: #3d506e;
}

.port2 .iconbar {
  position: relative;
  background-image: url(/assets/images/piccon.png);
  padding: 30px 0;
  color: #ffffff;
}

.port2 .blog-text {
  color: #3d506e;
  padding: 20px;
}

.port2 .blog {
  text-align: center;
}

.port2 .blog-button {
  margin-bottom: 20px;
}

.port2 .bg {
  background-color: #3d506e;
  color: #ffffff;
  text-align: left;
  margin-bottom: 15px;
  padding: 10px;
}

.port2 .bg img {
  margin-bottom: 40px;
}

.port2 .subscribe-text {
  color: #3d506e;
}

.port2 .subscribe-button {
  margin-bottom: 20px;
}

.port2 .ourcustomers {
  position: relative;
  background-image: url(/assets/images/piccon.png);
  padding: 30px 0;
}

.port2 .testimonials {
  color: #3d506e;
  padding: 20px;
}

.port2 .contact {
  position: relative;
  background-image: url(/assets/images/piccon.png);
  padding: 30px 0;
}

.port2 .contact {
  color: #ffffff;
}

.port2 .box-one {
  margin: 20px auto;
}

.port2 .last {
  background-color: #161f32;
  color: #ffffff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Mitr", sans-serif;
  font-size: 14px;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

.btn-1 {
  background-color: #01308b;
  color: #fff;
  padding: 3px 20px;
  border-radius: 5px;
  display: inline-block;
}

.btn-2, .tags ul li {
  background-color: #fff;
  padding: 3px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #01308b;
  display: inline-block;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.thumb1 {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.thumb1 img {
  width: 100%;
  display: block;
}

.list-head {
  border-bottom: 2px dotted #01308b;
  margin-bottom: 20px;
  position: relative;
}

.list-head a {
  font-size: 1rem;
  position: absolute;
  right: 0;
  top: 20px;
}

.list-head span {
  background: #01308b;
  position: relative;
  top: 2px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  color: #fff;
  font-size: 1.1rem;
}

.container {
  max-width: 1280px !important;
}

.news-list {
  margin-bottom: 50px;
}

.news-list ul li {
  list-style: none;
  margin: 0 0 10px;
  padding: 0 0 10px;
  border-bottom: 1px solid #f2f2f2;
}

.news-list ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-list ul li a .news-left {
  width: 30%;
}

.news-list ul li a .news-right {
  width: 70%;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.news-list ul li a h4 {
  font-size: 1.1rem;
}

.news-list ul li a .news-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.4;
  font-weight: 200;
  font-size: 0.8rem;
}

.news-list ul li a .news-date img {
  width: 15px;
  margin-right: 5px;
}

.share-news {
  border-bottom: 2px solid #ddd;
  position: relative;
  margin-bottom: 20px;
}

.share-news span {
  background: #ddd;
  top: 2px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  color: #000;
  font-size: 1.1rem;
  display: block;
}

.share-news .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  position: absolute;
  right: 5px;
  top: 12px;
}

.share-news .share img {
  width: 30px;
  display: block;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-right: 5px;
}

.social-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.social-share img {
  width: 100%;
  display: block;
}

.top {
  background-color: #eaeaea;
  padding: 5px 0;
}

.top .top-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top .top-in span {
  font-weight: 300;
  font-size: 0.9rem;
  color: #212529;
}

.top .top-in .social-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.top .top-in .social-top a {
  background: #fff;
  border-radius: 50%;
  padding: 2px;
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #fff;
}

.top .top-in .social-top a:hover {
  border: 2px solid #ccc;
}

.top .top-in .social-top img {
  width: 100%;
  display: block;
}

.top .top-in .social-top .top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.logo a {
  width: 420px;
  max-width: 80%;
  display: block;
  margin: 20px auto;
}

.logo a img {
  width: 100%;
  display: block;
}

.nav-manu {
  border-top: 6px solid #e6e6e6;
  border-bottom: 1px solid #cde1f9;
}

.nav-manu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 200;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0px 0;
}

.nav-manu ul li {
  list-style: none;
  position: relative;
}

.nav-manu ul li a {
  padding: 10px 0;
  display: block;
}

.nav-manu ul li .submenu {
  background: #fff;
  border: 1px solid #01308b;
  position: absolute;
  top: 40px;
  left: 0;
  padding: 10px 0;
  font-size: 0.9rem;
  display: none;
  z-index: 1;
}

.nav-manu ul li .submenu a {
  padding: 5px 20px;
  display: block;
  white-space: nowrap;
  -webkit-transition: ease-in-out 100ms;
  transition: ease-in-out 100ms;
}

.nav-manu ul li .submenu a:hover {
  background: #fff;
  color: #01308b;
}

.nav-manu ul li:hover .submenu {
  display: block;
}

.menu-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .menu-mobile {
    position: fixed;
    top: 40px;
    right: 0px;
    z-index: 11;
    background: #01308b;
    padding: 7px 10px;
    display: block;
  }
  .menu-mobile img {
    display: block;
    width: 20px;
  }
  .nav-manu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    background: #01308b;
    margin: 0;
    padding: 0;
    border-top: 0;
    z-index: 10;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .nav-manu .show {
    right: 0;
  }
  .nav-manu ul {
    display: block;
  }
  .nav-manu ul li {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .nav-manu ul li a {
    color: #fff;
    padding: 13px 0;
    display: block;
    font-size: 1rem;
  }
}

.breadcrumb {
  margin-top: 15px;
}

.breadcrumb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 200;
  margin: 0;
  padding: 10px 0;
  gap: 10px;
  background: #eeeeee;
  background: -webkit-gradient(linear, left top, right top, from(#eeeeee), color-stop(100%, white), to(white));
  background: linear-gradient(90deg, #eeeeee 0%, white 100%, white 100%);
  border-radius: 5px;
  padding: 5px 10px;
}

.breadcrumb ul li {
  list-style: none;
  font-size: 0.9rem;
  position: relative;
}

.breadcrumb ul li::before {
  content: "/";
  margin-right: 10px;
}

.breadcrumb ul li:first-child {
  font-weight: 400;
}

.breadcrumb ul li:first-child::before {
  display: none;
}

.breadcrumb ul li .submanu-breab {
  background-color: #01308b;
  color: #fff;
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  top: 15px;
  left: -10px;
  display: none;
}

.breadcrumb ul li .submanu-breab a {
  display: block;
}

.breadcrumb ul li:hover .submanu-breab {
  display: block;
  background-color: #fff;
  color: #01308b;
}

.btn-hilight {
  margin: 5px 0;
}

.content-title {
  line-height: 1.4;
  padding: 15px 0 8px;
  margin: 0;
  font-weight: 500;
  color: #212529;
}

.content-mete {
  color: #a3a3a3;
  font-size: 0.9rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-mete .views::before {
  content: "|";
  margin: 10px;
}

.picture img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 20px 0;
}

.section {
  background-color: #f8f8f8;
  border-left: 5px solid #01308b;
  border-radius: 5px;
  padding: 30px;
}

.section span {
  font-size: 22px;
  font-weight: 400;
  color: #484848;
  font-style: italic;
}

.detail {
  margin: 20px 0;
}

.detail p {
  font-size: 0.75;
  color: #212529;
}

.tags ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
}

.tags ul li:first-child {
  background-color: #000;
  color: #fff;
}

.tags ul li:first-child:hover {
  background-color: #000;
}

.tags ul li a:hover {
  color: #fff;
}

.tags ul li:hover {
  background-color: #01308b;
  color: #fff;
}

.social {
  background: #eeeeee;
  background: -webkit-gradient(linear, left top, right top, from(#eeeeee), color-stop(100%, #fffefe), to(white));
  background: linear-gradient(90deg, #eeeeee 0%, #fffefe 100%, white 100%);
  padding: 10px;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
}

.social a {
  padding: 2px;
  width: 30px;
  height: 30px;
  gap: 30px;
  border-radius: 10px;
}

.social img {
  width: 100%;
  display: block;
}

.box {
  margin-top: 10px;
  border-bottom: 1px solid #000;
}

.end {
  margin-top: 100px;
  padding: 70px 0;
  width: 100%;
  background-color: #01308b;
  font-weight: 300;
}

.end .point {
  font-size: 16px;
  font-weight: 500;
  position: relative;
  margin: 0 0 30px;
  text-transform: uppercase;
  color: #fff;
  padding-left: 15px;
  padding-top: 8px;
  position: relative;
}

.end .point:before, .end .point:after {
  position: absolute;
  background: #ccc;
  border-radius: 2px;
}

.end .point:before {
  content: "";
  width: 3px;
  height: 20px;
  display: inline-block;
  top: 0;
  left: 0;
}

.end .point:after {
  content: "";
  width: 20px;
  height: 3px;
  display: inline-block;
  top: 0;
  left: 0;
}

.end .topic {
  color: #b1b1b1;
}

.end .topic p {
  margin-bottom: 0;
}

.fond {
  color: #b1b1b1;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  font-weight: 300;
  font-size: 1rem;
}

.fond a:hover {
  color: #fff;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 33.3333333333%;
}

.copyright {
  background-color: #000;
}

.copyright .text {
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 0.9rem;
  padding-top: 10px;
}
/*# sourceMappingURL=style.css.map */