@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap");

$themecolor: #01308b;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Mitr", sans-serif;
  font-size: 14px;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

.btn-1 {
  background-color: #01308b;
  color: #fff;
  padding: 3px 20px;
  border-radius: 5px;
  display: inline-block;
}

.btn-2 {
  background-color: #fff;
  padding: 3px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #01308b;
  display: inline-block;
}

* {
  box-sizing: border-box;
}

.thumb1 {
  // width: 100%;
  // position: relative;
  // padding-top: 70%;
  // overflow: hidden;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;

  img {
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // display: block;
    width: 100%;
    display: block;
  }
}

.list-head {
  border-bottom: 2px dotted $themecolor;
  margin-bottom: 20px;
  position: relative;

  a {
    font-size: 1rem;
    position: absolute;
    right: 0;
    top: 20px;
  }

  span {
    background: $themecolor;
    position: relative;
    top: 2px;
    display: block;
    width: fit-content;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    color: #fff;
    font-size: 1.1rem;
  }
}

.container {
  max-width: 1280px !important;
}

.news-list {
  margin-bottom: 50px;
  ul {
    li {
      list-style: none;
      margin: 0 0 10px;
      padding: 0 0 10px;
      border-bottom: 1px solid #f2f2f2;

      a {
        display: flex;

        .news-left {
          width: 30%;
        }

        .news-right {
          width: 70%;
          padding-left: 10px;
          box-sizing: border-box;
        }

        h4 {
          font-size: 1.1rem;
        }

        .news-date {
          display: flex;
          align-items: center;
          // gap: 5px;
          opacity: 0.4;
          font-weight: 200;
          font-size: 0.8rem;

          img {
            width: 15px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}


.share-news {
  border-bottom: 2px solid #ddd;
  position: relative;
  margin-bottom: 20px;
  span {
    background: #ddd;

    top: 2px;
    display: block;
    width: fit-content;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    color: #000;
    font-size: 1.1rem;
    display: block;
  }
  .share {
    display: flex;
    border-radius: 5px;
    position: absolute;
    right: 5px;
    top: 12px;

    img {
      width: 30px;
      display: block;
      justify-content: right;
      margin-right: 5px;
    }
  }
}

.social-share {
  display: flex;
  gap: 10px;
  img {
    width: 100%;
    display: block;
  }
}

@media only screen and (max-width: 768px) {
}

.top {
  background-color: #eaeaea;
  padding: 5px 0;

  .top-in {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-weight: 300;
      font-size: 0.9rem;
      color: #212529;
    }

    .social-top {
      display: flex;
      gap: 10px;

      a {
        background: #fff;
        border-radius: 50%;
        padding: 2px;
        width: 30px;
        height: 30px;
        box-sizing: border-box;
        border: 2px solid #fff;

        &:hover {
          border: 2px solid #ccc;
        }
      }

      img {
        width: 100%;
        display: block;
      }
      .top-menu {
        display: flex;
        margin: 0;
      }
    }
  }
}

.logo {
  a {
    width: 420px;
    max-width: 80%;
    display: block;
    margin: 20px auto;

    img {
      width: 100%;
      display: block;
    }
  }
}

.nav-manu {
  border-top: 6px solid #e6e6e6;
  border-bottom: 1px solid #cde1f9;

  ul {
    display: flex;
    justify-content: space-between;
    font-weight: 200;
    align-items: center;
    margin: 0;
    padding: 0px 0;

    li {
      list-style: none;
      position: relative;

      a {
        padding: 10px 0;
        display: block;
      }

      .submenu {
        background: #fff;
        border: 1px solid $themecolor;
        position: absolute;
        top: 40px;
        left: 0;
        padding: 10px 0;
        font-size: 0.9rem;
        display: none;
        z-index: 1;

        a {
          padding: 5px 20px;
          display: block;
          white-space: nowrap;
          transition: ease-in-out 100ms;

          &:hover {
            background: #fff;
            color: $themecolor;
          }
        }
      }

      &:hover .submenu {
        display: block;
      }
    }
  }
}

.menu-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .menu-mobile {
    position: fixed;
    top: 40px;
    right: 0px;
    z-index: 11;
    background: $themecolor;
    padding: 7px 10px;
    display: block;

    img {
      display: block;
      width: 20px;
    }
  }

  .nav-manu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    background: $themecolor;
    margin: 0;
    padding: 0;
    border-top: 0;
    z-index: 10;
    padding: 0 20px;
    box-sizing: border-box;

    .show {
      right: 0;
    }

    ul {
      display: block;

      li {
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        a {
          color: #fff;
          padding: 13px 0;
          display: block;
          font-size: 1rem;
        }
      }
    }
  }
}
.breadcrumb {
  margin-top: 15px;
  ul {
    display: flex;
    font-weight: 200;
    margin: 0;
    padding: 10px 0;
    gap: 10px;

    background: rgb(238, 238, 238);
    background: linear-gradient(
      90deg,
      rgba(238, 238, 238, 1) 0%,
      rgba(255, 255, 255, 1) 100%,
      rgba(255, 255, 255, 1) 100%
    );
    border-radius: 5px;
    padding: 5px 10px;

    li {
      list-style: none;
      font-size: 0.9rem;
      position: relative;

      &::before {
        content: "/";
        margin-right: 10px;
      }
      &:first-child {
        font-weight: 400;
        &::before {
          display: none;
        }
      }

      .submanu-breab {
        background-color: #01308b;
        color: #fff;
        position: absolute;
        padding: 10px;
        border-radius: 5px;
        top: 15px;
        left: -10px;
        display: none;

        a {
          display: block;
        }
      }

      &:hover .submanu-breab {
        display: block;
        background-color: #fff;
        color: #01308b;
      }
    }
  }
}

.btn-hilight {
  margin: 5px 0;
}

.content-title {
  line-height: 1.4;
  padding: 15px 0 8px;
  margin: 0;
  font-weight: 500;
  color: #212529;
}

.content-mete {
  color: #a3a3a3;
  font-size: 0.9rem;
  font-weight: 400;
  display: flex;

  .views {
    &::before {
      content: "|";
      margin: 10px;
    }
  }
}

.picture {
  img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 20px 0;
  }
}
.section {
  background-color: #f8f8f8;
  border-left: 5px solid #01308b;
  border-radius: 5px;
  padding: 30px;

  span {
    font-size: 22px;
    font-weight: 400;
    color: #484848;
    font-style: italic;
  }
}
.detail {
  margin: 20px 0;

  p {
    font-size: 0.75;
    color: #212529;
  }
}

.tags {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    li {
      &:first-child {
        background-color: #000;
        color: #fff;
        &:hover {
          background-color: #000;
        }
      }
      a {
        &:hover {
          color: #fff;
        }
      }
      &:hover {
        background-color: #01308b;
        color: #fff;
      }
      @extend .btn-2;
    }
  }
}

.social {
  background: rgb(238, 238, 238);
  background: linear-gradient(
    90deg,
    rgba(238, 238, 238, 1) 0%,
    rgba(255, 254, 254, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );
  padding: 10px;
  margin: 20px 0;
  display: flex;
  border-radius: 5px;

  a {
    padding: 2px;
    width: 30px;
    height: 30px;
    gap: 30px;
    border-radius: 10px;
  }
  img {
    width: 100%;
    display: block;
  }
}

.box {
  margin-top: 10px;
  border-bottom: 1px solid #000;
}
.end {
  margin-top: 100px;
  padding: 70px 0;
  width: 100%;
  background-color: #01308b;
  font-weight: 300;

  .point {
    font-size: 16px;
    font-weight: 500;
    position: relative;
    margin: 0 0 30px;
    text-transform: uppercase;
    color: #fff;
    padding-left: 15px;
    padding-top: 8px;
    position: relative;

    &:before,
    &:after {
      position: absolute;
      background: #ccc;
      border-radius: 2px;
    }

    &:before {
      content: "";
      width: 3px;
      height: 20px;
      display: inline-block;
      top: 0;
      left: 0;
    }

    &:after {
      content: "";
      width: 20px;
      height: 3px;
      display: inline-block;
      top: 0;
      left: 0;
    }
  }

  .topic {
    color: #b1b1b1;

    p {
      margin-bottom: 0;
    }
  }
}

.fond {
  color: #b1b1b1;
  flex: 0 0 auto;
  width: auto;
  font-weight: 300;
  font-size: 1rem;

  // &:before {
  //   content: "";
  //   background-color: #fff;
  //   width: 5px;
  //   height: 5px;
  //   display: inline-block;
  //   border-radius: 50%;
  //   margin-right: 5px;
  //   vertical-align: middle;
  // }

  a:hover {
    color: #fff;
  }
}
.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.copyright {
  background-color: #000;

  .text {
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 0.9rem;
    padding-top: 10px;
  }
}
