.port2{
  font-family: 'Roboto Condensed', sans-serif;
  color: #3d506e;
  background-color: #ffffff;
  margin: 0;

.container{
  color: #ffffff;
}
img{
  max-width: 100%;
}
.title-section::after{
  content: '';
  display: block;
  width: 170px;
  background-color: black;
  height: 1px;
  margin: 15px auto;
  text-align: center;
}
.title-section1::after{
  content: '';
  display: block;
  width: 170px;
  background-color:#ffffff;
  height: 1px;
  margin: 15px auto;
  text-align: center;
}
.top-menu img{
  width: 50%;
  text-align: center;
}
.top-menu{
  background-color: #ffffff;
  text-align: center;
}
.landing{
  position: relative;
  text-align: center;
}
.landing-img{
  min-height: 400px;
  object-fit: cover;
  text-align: center;
}
.landing-text{
  background-color: #0d133e69;
  padding-bottom: 10px;
  width: 100%;
  position: absolute;
  top: 80px;
  text-align: center;
}
.btn{
  background-color: #ffffff;
  color: #000000;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
}
.btn1{
  background-color: #3d506e;
  color: #ffffff;
  padding: 8px;
  text-decoration: none;
  text-align: center;
}
.btn2{
  background-color: #3d506e;
  color: #ffffff;
  padding: 10px 50px 10px 5px;
  text-decoration: none;
  margin: 30px;
}
.tab{
  margin-bottom: 20px;
}
.fully-text{
  width: 100%;
  text-align: center;
  color: #3d506e;
  padding: 20px;
}
.fully{
  text-align: center;
}
.sevices{
  margin-bottom: 20px;
  text-align: center;
}
.text{
  padding: 0 15px;
  text-align: center;
}
.corn img{
  min-height: 200px;
  object-fit: cover;
  text-align: center;
}
.corn{
  position: relative;
}
.corn-text{
  position: absolute;
  top: 70px;
  color: #ffffff;
  width: 100%;
  text-align: center;
}
.row{
  text-align: center;
  color: #3d506e;
}
.portfolio{
  text-align: center;
}
.portfolio-lio{
  background-color: #161f32;
  padding: 20px;
  text-align: center;
}
.portfolio-text{
  margin-top: 20px;
  text-align: center;
}
.portfolio-buttom{
  margin-bottom: 20px;
  text-align: center;
}
.bgroom img{
  min-height: 1550px;
  object-fit: cover;
  text-align: center;
}
.aboutus{
  position: relative;
  background-image: url(/assets/images/room.jpg);
  padding: 30px 0;
}
.fully{
  color: #ffffff;
}
.mystory{
  background-color:#161f32;
  padding: 20px;
  text-align: left;
  color: #ffffff;
}
.skills-text{
  text-align: center;
  color: #161f32;
}
.group{
  text-align: left;
  color:#161f32 ;
}
.skills{
  text-align: left;
  padding: 15px;
  color: white;
  margin-bottom: 10px;
}
.html{
  width: 90%; background-color: #3d506e;
}
.css{
  width: 80%; background-color: #3d506e;
}
.js{
  width: 65%; background-color: #3d506e;
}
.php{
  width: 60%; background-color: #3d506e;
}
.iconbar{
  position: relative;
  background-image: url(/assets/images/piccon.png);
  padding: 30px 0;
  color: #ffffff;
}
.blog-text{
  color: #3d506e;
  padding: 20px;
}
.blog{
  text-align: center;
}
.blog-button{
  margin-bottom: 20px;
}
.bg{
  background-color: #3d506e;
  color: #ffffff;
  text-align: left;
  margin-bottom: 15px;
  padding: 10px;
}
.bg img{
  margin-bottom: 40px;
}
.subscribe-text{
  color: #3d506e;
}
.subscribe-button{
  margin-bottom: 20px;
}
.ourcustomers{
  position: relative;
  background-image: url(/assets/images/piccon.png);
  padding: 30px 0;
}
.testimonials{
  color: #3d506e;
  padding: 20px;
}
.contact{
  position: relative;
  background-image: url(/assets/images/piccon.png);
  padding: 30px 0;
}
.contact{
  color: #ffffff;
}
.box-one{
  margin: 20px auto;
}
.last{
  background-color: #161f32;
  color: #ffffff;
}
}