@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import "style";

body{
  margin: 0;
}
body ,h1,h2,h3,h4,h5,h6,p{
  font-family: 'Oxygen', sans-serif;
}
.container{
  width: 1170px;
  max-width:100%;
  margin: 0 auto;
}
.button-menutop{
  border: 1px solid rgba(170, 163, 163, 0);
  opacity: 0.4;
  filter: alpha(opacity=60);
}
.text{
  text-transform: uppercase;
}
.logo-top{
  position: absolute;
  top: 15px;
  left: 6%;
  width: 25%;
}
.text-slider{
  position: absolute;
  top: 0; right:0;
  left: 0; bottom:0;
  margin:auto;
  text-align:center;
}
.text-c{
  text-align: center;
}
.text-t{
  margin: 40px 25px;
}
.text-bt{
  position: absolute;
} 
.slider{
  position:relative;
}
.slider img{
  min-height: 300px;
  object-fit: cover;
}
.Lists{
  position: absolute;
  top: 15px;
  left: 150px;
}
.lists-style{
  text-decoration: none;
  color: #000000;
}
.download{
  background-color: black;
  color: #ffffff;
}
.box-subsribe{
  background-color: #000000;
  color: #ffffff;
  padding: 8px 300px 8px 20px;
  text-decoration: none;
  border:solid 1px #ffffff ;
  margin: 5px;
}
.sum{
  margin-top:14px ;
}
.btn-style{
  background-color: #000;
  color: #ffffff;
  padding: 20px;
  text-decoration: none;
  margin:20px;
}
.btn-submit{
  padding: 10px;
}
.btn-style1{
  border:solid 2px #000000 ;
  color: #000000;
  padding: 10px;
  text-decoration: none;
  margin-right:10px;
}
.top{
  color: #ffffff;
}
.btn{
  background-color: #ffffff;
  color: #000000;
  padding: 8px;
  text-decoration: none;
}
.menu-bt{
  margin: 20px;
}

.dow{
  border-radius: 40px;
  background-color: #ffffff;
  padding: 10px;
}
.dow a{
  text-decoration: none;
  font-size: 10px; 
}
.download{
  display: flex;
  align-items: center;
}
.text-dow{
  margin: auto 15px;
}
img{
  max-width: 100%;
  height: auto;
}
.history{
  margin: 0 20%;
}
.text-his{
  padding: 20px;
  float: left;
}
.video{
  position: relative;
}
.bg-video img{
  min-height: 200px;
  object-fit: cover;
}
.v-icon{
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-port{
  text-transform: uppercase;
  text-align: center;
  border-bottom: #000000;
}
.texe-p{
  text-align: center;
}
.name{
  text-transform: uppercase;
  color: #ffffff;
  background-color:rgba(0, 0, 0, 0.446);
  position: absolute;
  bottom: 5px;
  width:calc(100% - 30px);
  margin: 15px;
}
.all{
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
}
.menu{
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.text-us{
  color: #000000;
}
.big-group{
  color: #000000;
}
.subscribe{
  background-color: #000000;
  overflow: hidden;
  padding: 30px;
}
.con-text{
  color: #000;
}
.contact{
  text-align: center;
}
.con-text-container{
  color: #000000;
}
.icon-com{
  flex: 1;
}
.icon-home{
  flex: 1;
}
.icon-phone{
  flex: 1;
}
.ouote{
  position: relative;
}
.img-ouote img{
  min-height: 200px;
  object-fit: cover;
}
.text-ouote{
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text{
  color: #000000;
}
.footer{
  background-color: #000000;
  text-align: center;
}
.heading{
  text-transform: uppercase;
  color:#ffffff;
  font-size: 10px;
}
.menu-img{
  padding: 20px;
}
.abot-us{
  text-align: center;
}
.text-foo{
  color: #ffffff;
}
.textbox{
  display: flex;
}
.picture{
  padding: 15px;
}
.picture img{
  width: 100%;
}
.box{
  text-align: center;
  margin: 0 20px;
}
.box-text input, .box-text textarea{
  width:calc(100% - 20px);
  border: solid 1px #ccc;
  padding: 10px;
  margin: 0 0 10px 0;
}
.submit-button{
  color: #000;
}
.Lists{
  text-decoration:none;
}
.title-section{
  color: #777777;
}
.title-section::after{
  content: '';
  display: block;
  width: 170px;
  background-color: black;
  height: 1px;
  margin: 15px auto;
}
.title::after{
  content: '';
  display: block;
  width: 100px;
  background-color: black;
  height: 1px;
  margin: 15px 0;
}

/*  */

@media (min-width:768px){
.text-slider{
  position: absolute;
  top: 0; right:0;
  left: 0; bottom:0;
  margin:120px 0;
  text-align:center;
}
.Lists{
  position: absolute;
  top: 40px;
  left: 1000px;
}
.lists-style{
  padding: 5px;
}
.big-group{
  display: flex;
  text-align: center;
}
.group{
  flex: auto;
}
.video{
  position: relative;
}
.v-icon{
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.icon{
  display: flex;
}
.history{
  margin: 0 20%;
  display: flex;
}
.abot-img{
  display: flex;
}
.box-text{
  display: flex;
}
.box-three, .box-one {
  flex: 1;
  margin: 0 10px;
}
.text-dow{
  margin-left: 33%;
  margin-top: 15px;
}
.subscribe{
  background-color: #000000;
  overflow: hidden;
  padding: 30px;
}
.submit-button{
  text-align: right;
  color: #000;
}
.icon-row{
  text-align: center;
}
.menu-bt{
  display: flex;
  margin-left: 450px;
}
.main{
  text-align: center;
  display: flex;
  justify-content: center;
}
}

@media (max-width:640px){
.slider{
  position: relative;
}
.text-slider {
  font-size: 10px;
}
.logo-top{
  top: 0;
  margin: 5px;
}
.text-slider{
  position: absolute;
  top: 0; right:0;
  left: 0; bottom:0;
  margin:80px 0;
  text-align:center;
}
.text-t{
  margin: 15px;
}
.text-c{
  margin: 15px;
}
.button-menutop{
  margin: 15px;
}
.main{
  text-align: center;
  justify-content: center;
}
.text-dow{
  margin: auto 15px;
}

}