@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import "variable";

html {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  font: 300 1rem/1.4 "Kanit";

  img {
    max-width: 100%;
    height: auto;
    // margin-top: 10px;
  }
}

header {
  color: #fff;
  background: #000;
  width: 100%;

  /* .head-top{
  } */
  .head-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: right;
    background-color: #000;
  }

  .port-name {
    width: 100%;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Oswald";
    letter-spacing: 7px;

    span {
      display: block;
      line-height: 1.2;

      /*  &:nth-child(1){

      }
 */
      &:nth-child(2) {
        color: $themcolor3;
        border-bottom: 1px solid #ccc;
        padding: 0 0 20px;
        width: fit-content;
        float: right;
      }
    }
  }

  .port-position {
    clear: both;
    width: 100%;
    font-family: "Oswald";
    padding: 20px 0 81px 0;
    font-size: 1.2rem;
    letter-spacing: 2px;
  }

  .slogan {
    color: #999;
    font-weight: 100;
  }
}

.headgroup {
  font-family: "Oswald";
  display: flex;
}
.column {
  .text {
    color: #000;
    margin: 10px 0 40px 0;
    h3 {
      letter-spacing: 2px;
    }
    span {
      text-align: right;
      letter-spacing: 1px;
      font-family: "Kanit";
    }
  }
  //   .title-section::before{
  //     content: '';
  //     display: block;
  //     width: 100%;
  //     background-color: #000;
  //     height: 7px;
  //     margin: 10px auto;
  // }
  h3 {
    color: #000;
    text-transform: uppercase;
  }
}

h3 {
  color: #000;
  text-transform: uppercase;
}

.port-detail {
  border-top: 5px solid #000;
  margin: 20px 0 0;
  display: flex;
  flex-wrap: wrap;

  .column {
    &.left {
      background: #e9e9e9;
    }
    /* &.right{

    } */

    .box-content {
      padding: 10px 30px;
    }
  }
}

.bg-grey{
  border-radius: 10px;
}

.bg-grey a{
  padding-top: 56.25%;
  position: relative;
  display: block;
  overflow: hidden;

  img{
    max-width: none;
    border-radius: 10px;
    position: absolute;
    inset: 0;
    margin: auto;
    width: auto;
    height: 100%;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    transition: all 300ms;
  
    &:hover {
      height: 120%;
    }
  }
}


@media only screen and (max-width: 768px) {
  header {
    // padding: 50px 0;

    .port-position {
      padding-bottom: 20px;
    }
    .port-name {
      font-size: 2rem;
    }
    .slogan {
      font-size: 1rem;
      margin-bottom: 40px;
      color: #fff;
    }
  }
  .headgroup {
    font-family: "Oswald";
    display: flex;
    flex-wrap: wrap;
  }
  .left {
    width: 100%;
  }
  .btn-scrolltop-rotate {
    bottom: 10px;
    opacity: 1;
  }
  
}

.portfolio {
  width: 100%;
}




// @import "index";
@import "port1";
@import "port2";
@import "port4";
// @import "port5";
